*{
    padding: 0px;
    margin:0px;
}

#innerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

#leftDiv{
    height: 99vh;
    width: 50vw;
    border: 2px solid black
}

#rightDiv{
    height: 99vh;
    width: 50vw;
    border: 2px solid red;
    background-image: url("./images/AbstractMosiac.jpg");
}